body {
	background-image: url("https://www.atlasofplaces.com/atlas-of-places-images/ATLAS-OF-PLACES-IVAN-SHISHKIN-POETIC-REALISM-GPH-1.jpg");
	background-size: cover;
	object-fit: cover;
	font-family: 'Vollkorn', serif;
	font-weight: 600;
	text-align: center;
}

h1 {
	font-size: 3vw;
}

#container {
	text-align: center;
	margin: 0 auto;
}

#initial {
	text-transform: capitalize;
	font-size: 2vw;
}

#translation {
	font-size: 1.2vw;
	font-family: 'Vollkorn', serif;
	text-align: center;
	margin-top: 10px;
}

#check {
	margin-top: 20px;
	font-family: 'Vollkorn', serif;
}

#newWord {
	margin-top: 10px;
	font-family: 'Vollkorn', serif;
}

button {
	font-family: 'Vollkorn', serif;
	font-size: 1.2vw;
}

#result {
	font-size: 2em;
	margin-top: 10px;
	height: 1em;
}

#hint {
	font-size: 1.5vw;
	margin-top: 10px;
	height: 1em;
}

footer {
	margin-top: 200px;
	font-size: 2vw;
}